{% extends 'layout.html' %}

{% block body %}

<div style="text-align: center; color: white; margin-top: 30vh">
    <h1>Welcome to DeepLanguage !</h1>
    <h3 id="typewriter"></h3>
</div>

<!--<button id="record-button" class="button-30"-->
<!--        style="position: absolute;top: 60%;left: 50%;transform: translate(-50%, -50%);width: 15vw;height: 50px">Magic-->
<!--    button-->
<!--</button>-->

<div id="loader">

</div>
<form  action="{{ url_for('record') }}" method="post">
      <input id="formClick" style="display:block;position: absolute;top: 60%;left: 50%;transform: translate(-50%, -50%);width: 15vw;height: 50px;text-align: center" class="button-30" type="submit" value="Start Recording">
</form>

<div class="container" id="cont">
  <div class="loader">
  </div>
</div>

<script defer>

</script>
{% endblock %}
